<h2>real time products</h2>

<h3>productos actualizados en tiempo real</h3>

<div id="contenedor-productos"></div>

<h3>formulario para agregar productos</h3>

<form>
    <input type="text" id="title" placeholder="Titulos">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="sin imagen">
    <input type="text" id="code" placeholder="Código">
    <input type="number" id="stock" placeholder="Stock" >
    <input type="text" id="category" placeholder="Categoria">
    <select id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <button type="button" id="btnEnviar"> Enviar </button>
</form>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="js/index.js"></script>